<GridLayout rows="30,46,auto,46,46" columns="*" width="100%">
    <Label row="0" col="0" text="Brinda detalles sobre tu profesion" class="detail h4 roboto-light" textWrap = "true"></Label>
    <TextField androidElevation="5" row="1" col="0" class="input roboto-light" hint="Profesion" required></TextField>
    <TextView androidElevation="5" row="2" col="0"  class="textview roboto-light" hint="Describe tu perfil laboral" text="" editable="true"></TextView>
    <TextField  androidElevation="5" row="3" col="0" class="input roboto-light" hint="Número de contacto" text="" keyboardType="number" ></TextField>
    <TextField  androidElevation="5" row="4" col="0" class="input roboto-light" hint="Años de experiencia" text="" keyboardType="number" ></TextField>
</GridLayout> 