<ActionBar>
  <Label text="Etapa de registro" class="h3 roboto-bold"></Label>
</ActionBar>

<Tabs selectedIndex="{{steps}}" tabsPosition="bottom">
  <TabStrip>
    <TabStripItem #pasouno title="PERFIL" class="roboto-bold">
      <Image src="res://&#xf2be;" class="fa"></Image>
    </TabStripItem>
    <TabStripItem #pasodos title="HABILIDADES" class="roboto-bold">
      <Image src="res://&#xf2be;" class="fa"></Image>
    </TabStripItem>
    <TabStripItem #pasotres title="REFERENCIAS" class="roboto-bold">
      <Image src="res://&#xf2be;" class="fa"></Image>
    </TabStripItem>
  </TabStrip>

  <TabContentItem>
    <GridLayout>
      <paso-uno></paso-uno>
    </GridLayout>
  </TabContentItem>
  <TabContentItem>
    <GridLayout>
      <paso-dos></paso-dos>
    </GridLayout>
  </TabContentItem>
  <TabContentItem>
    <GridLayout>
      <paso-tres></paso-tres>
    </GridLayout>
  </TabContentItem>
</Tabs>