<ActionBar>
  <Label text="Etapa de registro" class="h3 roboto-bold" ></Label>
</ActionBar>
<Tabs selectedIndex="0" tabsPosition="bottom">
  <TabStrip>
    <TabStripItem>
      <Label text="Paso 1"></Label>
    </TabStripItem>
    <TabStripItem>
      <Label text="Paso 2"></Label>
    </TabStripItem>
    <TabStripItem>
      <Label text="Paso 3"></Label>
    </TabStripItem>
  </TabStrip>
  <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
  <TabContentItem>
    <GridLayout>
      <paso-uno></paso-uno>
    </GridLayout>
  </TabContentItem>
  <TabContentItem>
    <GridLayout>
      <paso-dos></paso-dos>
    </GridLayout>
  </TabContentItem>
  <TabContentItem>
    <GridLayout>
      <Label text="Search Page" class="h2 text-center"></Label>
    </GridLayout>
  </TabContentItem>
</Tabs>