<ActionBar>
</ActionBar>

<Tabs selectedIndex="{{steps}}" tabsPosition="bottom">
  <TabStrip>
    <TabStripItem #pasouno title="Registro" class="Cabin-bold">
      <Image src="res://&#xf2be;" class="fa"></Image>
    </TabStripItem>
    <TabStripItem #pasouno title="Perfil" class="Cabin-bold">
      <Image src="res://&#xf2be;" class="fa"></Image>
    </TabStripItem>
    <TabStripItem #pasodos title="Habilidades" class="Cabin-bold">
      <Image src="res://&#xf2be;" class="fa"></Image>
    </TabStripItem>
    <TabStripItem #pasotres title="Referencias" class="Cabin-bold">
      <Image src="res://&#xf2be;" class="fa"></Image>
    </TabStripItem>
    <TabStripItem #pasotres title="Finalizar" class="Cabin-bold">
      <Image src="res://&#xf2be;" class="fa"></Image>
    </TabStripItem>
  </TabStrip>

  <TabContentItem>
    <GridLayout>
      <inicio-registro></inicio-registro>
    </GridLayout>
  </TabContentItem>
  <TabContentItem>
    <GridLayout>
      <paso-uno></paso-uno>
    </GridLayout>
  </TabContentItem>
  <TabContentItem>
    <GridLayout>
      <paso-dos></paso-dos>
    </GridLayout>
  </TabContentItem>
  <TabContentItem>
    <GridLayout>
      <paso-tres></paso-tres>
    </GridLayout>
  </TabContentItem>
  <TabContentItem>
    <GridLayout>
      <fin-registro></fin-registro>
    </GridLayout>
  </TabContentItem>
</Tabs>